<div class="tabs-animation">
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
                <span style="text-transform: uppercase !important;"> <span style="font-weight: bold !important;">Tableau 7</span> </span>
            </div>
            <div class="btn-actions-pane-right text-capitalize">&nbsp;</div>
        </div>
        <div class="no-gutters row">
               <!-- formulaire execerice -->
               <ng-container>
                <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12" style="margin-top: 20px !important;">
                    <div class="card-body">
                        <div class="row search-form-row">
                            <div class="col-xs-12 col-sm-6 col-md-3 col-xl-3">
                                <div class="position-relative form-group">
                                    <label for="exerciceSlt">Exercice</label>
                                    <select name="exercice" id="exerciceSlt" 
                                    class="form-control input-sm" 
                                    (change)="onChangePeriode()"
                                    [(ngModel)]="formPeriode">
                                        <ng-container *ngFor="let periode of PeriodeListe">
                                            <option>{{periode}}</option>
                                            </ng-container>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-xl-3">
                                <div class="position-relative form-group">
                                    <label style="width: 100% !important; color: whitesmoke !important;">Recherche</label>
                                    <button class="btn btn-danger btn-active search-btn"> <i class="fa fa-search"></i> Rechercher</button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- formulaire execerice -->
            <ng-container *ngIf="donnees.length > 0">
                <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
                    <div class="card-body">
                        <table class="table table-hover table-striped table-bordered dtr-inline">
    
                            <!--=====TABLE HEADER======-->
                            <ng-container>
                                <thead>
                                    <tr>
                                        <tr>
                                            <th class="main-th" rowspan="2" >
                                                CATEGORIES  <br> EMPLOYEUR  
                                            </th>
                                            <th class="main-th"  rowspan="2">
                                                EFFECTIFS ACTIFS <br> DEBUT PERIODE 
                                            </th>
                                            <th class="main-th" rowspan="2" >
                                                NOUVELLES <br> IMMATRICULATIONS
                                            </th>
                                            <th class="main-th" rowspan="1" colspan="3">MUTATION</th>
                                            <th class="main-th" rowspan="2" >
                                                EFFECTIFS<br> ACTIF  FIN  <br> PERIODE
                                            </th>
                                        </tr>
                                        <tr >
                                            <th class="cip_center_sub">
                                                RETRAITES
                                            </th>
                                            <th class="cip_center_sub" >
                                                DECEDES</th>
                                            <th  class="cip_center_sub">
                                                AUTRES
                                            </th>
                                        </tr>
                                </thead>
                            </ng-container>
                            
                            <!--=====TABLE BODY======-->
                            <tbody>
                                <ng-container *ngFor = "let item of donnees | paginate: {id: 'tableau3', itemsPerPage: 10, currentPage: p }">
                                    <ng-container>
                                        <tr>
                                            <td class="alignementGauche th-prive-label th-lab"> {{item.branche.libelle}} </td>
                                            <ng-container *ngFor = "let elt of item.contenu">
                                                <td class="th-prive th-prive-sub-value"> {{elt.valeur | number:'.0':'es'}} </td>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </ng-container>
    
                                <ng-container>
                                    <tr>
                                        <td class="total-label">TOTAL</td>
                                        <ng-container *ngFor = "let t of tableHeaderData; let i = index">
                                            <td class="total-valeur"> {{onCalculTotal(i) | number:'.0':'es'}} </td>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                                
                            </tbody>
                            <!--========================-->
    
                        </table>
                        <pagination-controls (pageChange)="p = $event" id="tableau3" [responsive]="responsive" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls> 
                        <div class="col-xs-12 col-md-12 div-frontiere"></div>
                    </div>
    
                    <div class="card-body">
                        <div class="row" style="width: 100% !important; margin: auto;">
                            <div class="col-xs-6 col-sm-4 col-md-7"></div>
                            <div class="col-xs-6 col-sm-4 col-md-1">
                                <button (click) = "onSelectionneTypeGraphe('ngx-charts-bar-vertical-2d','groupVerticalBar')" id="groupVerticalBar" class="btn btn-shadow btn-success btn-chart">
                                    <img src="assets/images/charts-icons/bar-group-chart.png" class="charts-icons" />
                                </button>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-1">
                                <button (click) = "onSelectionneTypeGraphe('ngx-charts-line-chart', 'lineCharts')" id="lineCharts" class="btn btn-shadow btn-info btn-chart">
                                    <img src="assets/images/charts-icons/chart_line.png" class="charts-icons" />
                                </button>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-1">
                                <button (click) = "onSelectionneTypeGraphe('ngx-charts-area-chart', 'areaCharts')" id="areaCharts" class="btn btn-shadow btn-warning btn-chart btn-chart btn-chart-active">
                                    <img src="assets/images/charts-icons/area-chart2.png" class="charts-icons" />
                                </button>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-1">
                                <button (click) = "onSelectionneTypeGraphe('ngx-charts-area-chart-stacked', 'stackedAreaCharts')" id="stackedAreaCharts" class="btn btn-shadow btn-danger btn-chart">
                                    <img src="assets/images/charts-icons/area-chart.png" class="charts-icons" />
                                </button>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-1">
                                <button (click) = "onSelectionneTypeGraphe('many', 'all')" id="all" class="btn btn-shadow btn-danger btn-chart">
                                    <img src="assets/images/charts-icons/pie.png" class="charts-icons" />
                                </button>
                            </div>
                        </div>
                    </div>
    
                    <ng-container *ngIf = "chartsController !== 'many'">
                        <div class="card-body">
                            <ng-container *ngIf = "chartsController === 'ngx-charts-bar-vertical-2d'">
                                <div class="card-charts">
                                    <ngx-charts-bar-vertical-2d
                                        [view]="chartsOptions.view"
                                        [scheme]="chartsOptions.colorScheme"
                                        [results]="barChartsDataList"
                                        [gradient]="chartsOptions.gradient"
                                        [xAxis]="chartsOptions.showXAxis"
                                        [yAxis]="chartsOptions.showYAxis"
                                        [legend]="chartsOptions.showLegend"
                                        [showXAxisLabel]="chartsOptions.showXAxisLabel"
                                        [showYAxisLabel]="chartsOptions.showYAxisLabel"
                                        [xAxisLabel]="chartsOptions.xAxisLabel"
                                        [yAxisLabel]="chartsOptions.yAxisLabel"
                                        [legendTitle]="chartsOptions.legendTitle"
                                        [legendPosition] = "chartsOptions.legendPosition"
                                        [showDataLabel] = "chartsOptions.showDataLabel"
                                        (select)="onSelect($event)">
                                    </ngx-charts-bar-vertical-2d>
                                </div>
                                
                            </ng-container>
        
                            <ng-container *ngIf = "chartsController === 'ngx-charts-line-chart'">
                                <div class="card-charts">
                                    <ngx-charts-line-chart
                                        [view]="chartsOptions.view2"
                                        [scheme]="chartsOptions.colorScheme2"
                                        [legend]="chartsOptions.legend"
                                        [schemeType]="chartsOptions.schemeType"
                                        [showXAxisLabel]="chartsOptions.showXAxisLabel"
                                        [showYAxisLabel]="chartsOptions.showYAxisLabel"
                                        [xAxis]="chartsOptions.xAxis"
                                        [yAxis]="chartsOptions.yAxis"
                                        [xAxisLabel]="chartsOptions.xAxisLabel2"
                                        [yAxisLabel]="chartsOptions.yAxisLabel2"
                                        [timeline]="chartsOptions.timeline"
                                        [results]="chartsData"
                                        [legendTitle]="chartsOptions.legendTitle"
                                        [legendPosition] = "chartsOptions.legendPosition"
                                        (select)="onSelect($event)">
                                    </ngx-charts-line-chart>
                                </div>
                            </ng-container>
        
                            <ng-container *ngIf = "chartsController === 'ngx-charts-area-chart'">
                                <div class="card-charts">
                                    <ngx-charts-area-chart
                                        [view]="chartsOptions.view2"
                                        [scheme]="chartsOptions.colorScheme2"
                                        [legend]="chartsOptions.legend"
                                        [gradient]="chartsOptions.gradient"
                                        [showXAxisLabel]="chartsOptions.showXAxisLabel"
                                        [showYAxisLabel]="chartsOptions.showYAxisLabel"
                                        [xAxis]="chartsOptions.xAxis"
                                        [yAxis]="chartsOptions.yAxis"
                                        [xAxisLabel]="chartsOptions.xAxisLabel2"
                                        [yAxisLabel]="chartsOptions.yAxisLabel2"
                                        [timeline]="chartsOptions.timeline"
                                        [results]="chartsData"
                                        [legendTitle]="chartsOptions.legendTitle"
                                        [legendPosition] = "chartsOptions.legendPosition"
                                        (select)="onSelect($event)">
                                    </ngx-charts-area-chart>
                                </div>
                            </ng-container>
        
                            <ng-container *ngIf = "chartsController === 'ngx-charts-area-chart-stacked'">
                                <div class="card-charts">
                                    <ngx-charts-area-chart-stacked
                                        [view]="chartsOptions.view2"
                                        [scheme]="chartsOptions.colorScheme"
                                        [legend]="chartsOptions.legend"
                                        [gradient]="chartsOptions.gradient"
                                        [showXAxisLabel]="chartsOptions.showXAxisLabel"
                                        [showYAxisLabel]="chartsOptions.showYAxisLabel"
                                        [xAxis]="chartsOptions.xAxis"
                                        [yAxis]="chartsOptions.yAxis"
                                        [xAxisLabel]="chartsOptions.xAxisLabel2"
                                        [yAxisLabel]="chartsOptions.yAxisLabel2"
                                        [timeline]="chartsOptions.timeline"
                                        [results]="chartsData"
                                        [legendTitle]="chartsOptions.legendTitle"
                                        [legendPosition] = "chartsOptions.legendPosition"
                                        (select)="onSelect($event)">
                                    </ngx-charts-area-chart-stacked>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
    
                    <ng-container *ngIf = "chartsController === 'many'">
                        <div class="card-body">
                            <div class="row">
    
                                <div class="col-xs-12 col-md-12" style="margin-top: 15px !important; margin-bottom: 15px !important; border-top: solid silver 1px !important; border-bottom: solid silver 1px !important;">
                                    <span style="float: right !important; margin-top: 10px !important; margin-bottom: 10px !important;">
                                        <button class="btn" style="background: transparent; border: none !important; font-weight: bold !important;"> </button>
                                        <button (click) = "onSelectGraphe('ngx-charts-pie-chart')" class="btn btn-info"><i class="fa fa-pie-chart" aria-hidden="true"></i></button> &nbsp;
                                        <button (click) = "onSelectGraphe('ngx-charts-bar-vertical')" class="btn btn-warning"><i class="fa fa-bar-chart" aria-hidden="true" style="color: #fff !important;"></i></button>
                                    </span>
                                </div>
    
                                <ng-container *ngFor = "let c of donnees">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-xl-4" style="margin-bottom: 30px !important;">
                                        <h3 class="charts-title-3" style="margin-top: 5px !important;">
                                            <span *ngIf = "c.chartsData.libelle.length > 34">{{c.chartsData.libelle.substring(0,34)}}... </span>
                                            <span *ngIf = "c.chartsData.libelle.length <= 34">{{c.chartsData.libelle}} </span>
                                        </h3>
                                        <div class="card-charts-dispatch">
                                            <ng-container *ngIf = "graphController === 'ngx-charts-bar-vertical'">
                                                <ngx-charts-bar-vertical
                                                    [view] = "chartsOptions.view3"
                                                    [scheme]="chartsOptions.colorScheme"
                                                    [results]="c.chartsData.data"
                                                    [gradient]="chartsOptions.gradient"
                                                    [xAxis]="chartsOptions.showXAxis"
                                                    [yAxis]="chartsOptions.showYAxis"
                                                    [legend]="chartsOptions.showLegend3"
                                                    [showXAxisLabel]="chartsOptions.showXAxisLabel"
                                                    [showYAxisLabel]="chartsOptions.showYAxisLabel"
                                                    [xAxisLabel]="chartsOptions.xAxisLabel3"
                                                    [yAxisLabel]="chartsOptions.yAxisLabel3"
                                                    [legendPosition]="chartsOptions.legendPosition3"
                                                    [showDataLabel]="chartsOptions.showDataLabel"
                                                    (select)="onSelect($event)">
                                                </ngx-charts-bar-vertical>
                                            </ng-container>
                                            <ng-container *ngIf = "graphController === 'ngx-charts-pie-chart'">
                                                <ngx-charts-pie-chart
                                                    [view]="chartsOptions.view3"
                                                    [scheme]="chartsOptions.colorScheme"
                                                    [results]="c.chartsData.data"
                                                    [gradient]="chartsOptions.gradient"
                                                    [legend]="chartsOptions.showLegend3"
                                                    [legendPosition]="chartsOptions.legendPosition3"
                                                    [explodeSlices]="chartsOptions.explodeSlices"
                                                    [labels]="chartsOptions.showLabels"
                                                    [doughnut]="chartsOptions.doughnut"
                                                    (select)="onSelect($event)">
                                                </ngx-charts-pie-chart>
                                            </ng-container>
                                        </div>
                                    </div>
                                </ng-container>
                                
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <ng-container *ngIf="donnees.length === 0">
                <div class="col-xs-12 col-md-12">
                    <div class="alert alert-info"  *ngIf="!erreurChargement">
                        <strong> chargement des données ....</strong>
                    </div>
                    <div class="alert alert-danger"  *ngIf="erreurChargement">
                        <strong>Aucune donnée trouvée</strong>
                    </div>
                </div>
            </ng-container>

        </div>
        <div class="text-center d-block p-3 card-footer">&nbsp;</div>
    </div>
</div>